/*

Julián Eduardo Aguirre - Task3

*/


/* ===========		GENERAL     	============ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

body {
	width: 98%;
	height: auto;
	margin: 0 auto; 
}

aside {
	display: none;
	border: 2px solid brown;
}

/* HEADER */
header {
	display: flex;
	flex-direction: column;
	/* border: 2px solid red; */
	background-image: url(../assets/img/design1_image2.jpg);

}

figure{
	display: flex;
	/* border: 2px solid green; */
	justify-content: center;
	align-items: center;
	height: 30vh;
	background-image: url(../assets/img/design1_image2.jpg);
}

#logo {
	border: 2px solid darkgoldenrod;
	border-radius: 30%;
	width: 120px;
	height: auto;
	background-color: darkslategrey;
}

header h1 {
	border: 2px solid black;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 5vh;
	background-color: darkcyan;
	color: aliceblue;
	text-shadow: 2px 2px 3px gold;
}

/* header h2 {
	border: 2px solid green;
	text-align: center;
	background-color: darkblue;
} */

/*			NAVBAR				*/
nav {
	display: flex;
	border: 2px solid black;
	/* height: 40px; */
	padding: 5px;
	justify-content: center;
	background-color: darkslategrey;
}

nav ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

nav ul li {
	margin: 0px 5px;
	width: 90px;
	border: 1px solid darkgoldenrod;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

nav ul li:hover {
	background-color: darkcyan;
	transform: scale(1.2);
	transition-duration: 100ms;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

/* li a:hover{
	color: darkgoldenrod;
	text-decoration: none;
} */

/* #actual{
display: none;
}

#actual:hover{
display: none;
} */

#anchor_about {
	display: none;
}

/*			MAIN			*/
main {
	display: flex;
	/* border: 2px solid red; */
	min-height: 75vh;
	justify-content: center;
	background-image: url(../assets/img/hockey_1.jpg);
	background-size: contain;
	background-repeat: repeat;
}

#div_principal {
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
	height: auto;
	width: 80%;
	background-color: rgba(220,230,240,0.9);
	border-radius: 10px;
	margin: 1vh 0;
}

#titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10%;
	border: 2px solid pink;
}

#div_principal h2{
	/* border: 1px solid gold; */
	width: 100%;
	text-align: center;
}

.div_secundario {
	display: flex;
	flex-direction: column;
	/* border: 2px solid orange; */
	/* display: block; */
	width: 100%;
	min-height: 30vh;
	padding: 0 2vw;
	text-align: start;
	justify-content: center;	
	z-index: 10;
}

section h3{
	margin-bottom: 1vh;
}

section ul li,
section ol li {
	margin-left: 2.5vw;
	margin-bottom: 2vh;
}

main article {
	/* border: 2px solid orange; */
	display: block;
	width: 95%;
	padding: 10px 2vw;
	text-align: start;
}

#div_tabla{
	/* border: 1px solid red; */
	width: 90%;
	display: flex;
	justify-content: center;
}

table {
	/* border: 1px solid green; */
	min-width: 80%;
	background-color: aliceblue;
	border-radius: 15px;
}

/* tr {
	padding-bottom: 10vh;
	border: 2px solid blue;
} */

table th,
table td {
	/* border: 1px solid orange; */
	padding: 5px 15px;
	text-align: center;
}

.header1 {
	/* border: 2px solid green; */
	display: block;
	width: 100%;
	padding: 0 2vw;
	padding-bottom: 3vh;
	text-align: center;
}

.rules_section {
	/* border: 2px solid yellowgreen; */
	/* background-color: aqua; */
	text-align: start;
	padding: 0 2vw;
	padding-bottom: 2vh;
	width: 95%;
}

#age_groups {
	list-style-type: lower-latin;
	width: 95%;
	/* border: 1px solid blue; */
}

.rules_important {
	text-decoration: underline;
}

.datos_contacto {
	text-align: center;
}

span {
	font-weight: bold;
}